**/*.pyc
**/.DS_Store
**/*.swp
**/.web
**/*.db
**/*.ipynb
**/node_modules/**
**/package.json
**/package-lock.json
**/alembic
**/alembic.ini
bun.lockb
poetry.lock
frontend.zip
backend.zip
dist/*
venv/
