**/*.db
**/*.ipynb
**/*.pyc
**/*.swp
**/.DS_Store
**/.web
**/node_modules/**
**/package-lock.json
**/package.json
*.db
*.py[cod]
.vscode
.web
__pycache__/
backend.zip
bun.lockb
dist/*
frontend.zip
poetry.lock
venv/